
# dependencies
frontend/node_modules
frontend//.pnp
frontend/.pnp.js

# production
frontend//build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Byte-compiled / optimized / DLL files
wenbo/lib
.DS_Store
__pycache__
*.py[co]
*.pyc[co]
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
hota/api/__pycache__
hota/api/migrations/__pycache__
hota/hota/__pycache__/